   body {
   	margin: 0;
   	font-family: Helvetica;
   }

   #logo {
   	border-radius: 50%;
   	height: 80px;
   	width: 80px;
   }

   .container {
   	display: flex;
   	align-items: center;
   	justify-content: center;
   	height: 100vh;
   	flex-direction: column;
   }